@import '~antd/dist/antd.less';

@primary-color: #e0bc56;
@secondary-color: #203545;
@red:#d30027cc;
@link-color: #0473bd; 
@success-color: #52c41a;
@warning-color: #faad14;
@error-color: #f5222d;
@font-size-base: 14px;
@heading-color: rgba(0, 0, 0, 0.85);
@text-color: rgba(0, 0, 0, 0.65);
@text-color-secondary: rgba(0, 0, 0, 0.45);
@disabled-color: rgba(0, 0, 0, 0.25);
@border-radius-base: 4px;
@border-color-base: #d9d9d9;
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15);
@box-shadow-hover: 0 4px 12px rgba(0, 0, 0, 0.333);

@font-face { 
  font-family: 'Public Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');
}

// CONTENT
#root
{
  max-width: 100vw; 
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: 'Public Sans', sans-serif;
}
.body-content
{
  max-width: 80%;
  margin: 2em 0;
}
.box-left
{
  text-align: left;
}
.box-right
{
  text-align: right;
}
.box-right.borded
{
  border-right: 10px solid @primary-color;
  padding-right: .5em;
}
.feature
{
  font-size: 4rem !important;
  letter-spacing: .2em;
  text-transform: uppercase;
  white-space: nowrap;
  line-height: .5em !important;
}
.sub-text
{
  font-size: 1.4rem;
  letter-spacing: .2em;
  text-transform: uppercase;
}
.box-image
{
  position: relative;
  align-items: center !important;
  margin: 5em 0;
}
.box-image::after
{
  content: '';
  position: absolute;
  background-color: @primary-color;
  height: 30%;
  width: 120%;
  z-index: -1 !important;
}
.box-text
{
  position: relative;
  display: flex;
  align-items: center;
  vertical-align: middle;
}
.box-text::before
{
  content: '';
  position: absolute;
  background-color: @secondary-color;
  height: 12em;
  width: 4px;
  margin-right: 1em !important;
}
.text-column
{
  display: contents !important;
}
.legend
{
  font-size: 1rem;
}
.box-right .borded
{
  border-right: 10px solid @primary-color;
  padding-right: .5em;
}
.icon-default
{
  color: @text-color !important;
}
.subtitle
{
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 1.6rem !important;
  width: 100%;
}
.subtitle.two
{
  font-size: 1.2rem !important;
  letter-spacing: .1em;
}
.sub-text.two
{
  font-weight: 700;
  padding-left: 1em;
  vertical-align: middle !important;
}
.item-list
{
  cursor: pointer;
}
.grid-two
{
  display: contents !important;
}
.my_image
{
  max-width: 28vw;
  filter: grayscale(1);
  z-index: 2 !important;
}
.spacing
{
  margin: 2em 0;
}